/*
*{
	margin: 0;
	padding: 0;

}
*/
body{
	background-color: #f4f4f4;
	color: #555555;

	font-family: Arial, Helvetica, 
	sans-serif;

	font-size: 16px;

	line-height: 1.6em;
	margin: 0;
	
}
.container{
	width: 500px;
	margin: auto;
}
.button{
	background-color: #333;
	color: #fff;
	padding: 10px 15px;
	border: none;
}
.button:hover{
	color: red;
}
.clr{
	clear: both;
}
.box-1{
	background-color: #333;
	color: #fff;

	border-right: 5px red solid;
	border-left: 5px red solid;
	border-top: : 5px red solid;
	border-bottom: : 5px red solid;
	/* Same as above*/

	border: 5px red solid;
	border-width: 3px;

	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;
	/*same as above*/

	padding: 20px;

	margin: 20px;

}
.box-1 h1{
	font-family: Tahoma;
	font-weight: 800;
	font-style: italic;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 0.2em;

}
.box-2 {
	border: 3px dotted #ccc;
	padding: 20px;
	margin: 20px 0;
}
a{
	text-decoration: none;
	color: #000;
}
a:hover{
	color: red;
}
a:active{
	color: green;
}
.categories{
	border: 1px #ccc solid;
	padding: 10px;
	border-radius: 15px;

}

.categories h2{
	text-align: center;

}
.categories ul{
	padding: 0;
	list-style: square;
	list-style: none;
}
.categories li{
	padding-bottom: 6px;
	border-bottom: dotted 1px #333;
	 
}
.my-form{
	padding: 20px;

}
.form-group{
	padding-bottom: 15px;

}
.my-form label{
	display:block;
}
.my-form input[type="text"], .my-form textarea{
	padding: 8px;
	width: 200px;
}
.block{
	float: left;
	width:33.3%;
	border: 10px solid #ccc;
	padding: 10px;
	box-sizing: border-box;
}

main-block{
	float: left;
	width: 70%;

}
#sidebar{
	float: right;
	width: 50%;
	background-color: #333;
	color: #fff;
	padding: 10px;
}

.p-box{
	width: 500px;
	height: 500px;
	margin-top: 40px;
	margin-left: 40px;
	border:1px solid #000;
	position: relative;
	background-image: url(images/back.jpg);
	background-repeat: no-repeat;
	background-position: 100px 200px;
	background-position: center center;


}
.p-box h1{
	position: absolute;
	top: 100px;
	left: 200px;
}
.p-box h2{
	position: absolute;
	bottom: 40px;	
	right: 100px;
}	
.fix-me{
	position: fixed;
	top: 200px;
	}

.my-list li:first-child{
	background-color: blue;
}
.my-list li:last-child{
	background-color: red;
}
.my-list li:nth-child(2){
	background-color: yellow;
}.my-list li:nth-child(3){
	background-color: green;
}

